 


body {

    background-color: rgb(247, 220, 49);
    margin: 10%;
    padding: 0px;
    border: 0px;

}


main {
    background-color: rgb(255,255,255);
}



header {
    background-color: rgb(59,177,222);
}

footer {
    background-color: rgb(255,103,31);
    height: 10%;
    width: 100%;
}

/*

@media screen and (min-width: 800px) {
    .container {
        margin: 10%;
    }
}

@media screen and (min-width: 800px) {
    .container {
        margin: 10%;
    }
}

*/

/* mobile screens 
@media screen and (min-width: 800px) {

    body {
        margin: 10%;
    }
    
}
    
/*