/*@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto:wght@900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Merriweather:wght@300&family=Roboto:wght@300&display=swap');

 
 * {
     margin: 0;
     padding: 0;
     border: 0;
 }
 
 header {
    background-color: #ffffff;
    width: 100%;

 }


 /* Logo */
.center {
    text-align: center;
 }


 /* navigation bar */


#menu {
    list-style-type: none;
    text-align: center;
    padding: 2%;
}

#menu li {
    display: inline;
    padding: 2%;

}

#menu a {
    text-decoration: none;
    font-family: "Roboto", "Arial", sans-serif;
    color: rgb(0, 0, 0, .8);
}


/* layout elements */

.orange-design-element {
    width: 100%;
    height: 10px;
    background-color: #ff671f;
}

.orange-design-element-thin {
    width: 100%;
    height: 2px;
    background-color: #ff671f;
}


/* action elements */

.navigation a:hover {
    background-color: aqua; /* will be replaced with something else*/ 
}

/* Social media navbar */

#social-media-navbar {
    background-color: black;
    text-align: center;
}

.social_links i {
    background-color: black;
    text-align: right;
    font-size: 120%;
    color: rgb(255, 255, 255);
    padding: 2%;
}



/* h1, h2, h3 */

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    color:rgb (0, 0, 0);
    font-weight: lighter;
    color: #000000;
    text-align: center;
}

h2, h3 {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
}


/* text styles */
p {
    font-family: 'Merriweather', serif;
    font-size: 12px;
    color:black;
}


.intro-text {
    font-size: 14px;
    color: black;
    font-family: 'Merriweather', serif;
    padding-top: 5%;
}


#decorative-text {
    font-family: 'Merienda One', cursive;
    color: #ff671f;
    font-size: 40pt;
    text-align: center;
}

/* content styles*/

#main-content {
    background-color: #ffffff;
    margin-left: 10%;
    margin-right: 10%;
}

#content-image {
    width: 100%;

}

#events {
    float:left;
}

/* footer */

footer {
    background-color: rgb(0, 0, 0);
    display: inline-block;
    text-align: center;
    left: 0;
    right: 0;
    position: relative;
    bottom: 0;
    height: 40px;
    color: #ffff;
    width: 100%;
}

footer p {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    padding: 13px;
    color: #ffffff;
    font-weight: light;
}



/* responsivness */
@media screen and (min-width: 1200px) {

    /*
    #logo {
        float: left;
    }

     /* navigation bar 

    .navigation {
        height: 50px;
        background-color: white;
        width: 100%;
    }

    #menu {
        margin-right: 10%;
        padding: 1%;
    }

    #menu li {
        display: inline;
        list-style: none;
    }

    #menu a {
        text-decoration: none;
        color: inherit;
        float: right;
        padding: 1%;
        padding-bottom: 2%;
    }

    */

    
    body {
        background: url(/assets/img/pexels-daria-shevtsova-2029159.jpg);
    }    

    
    #main-content {
        height: 1200px;
    }

    .fit-left, .fit-right {
        width: 40%;
        padding-top: 2%;
    }
    
    .fit-left {
        float: left;
        padding-left: 5%;
    
    }

    .fit-right {
        float: right;
        text-align: right;
        padding-right: 5%;
    }

    footer {
    width: 80%;
    margin-left: 10%;
    }

    #decorative-text {
        font-size: 120pt;
        text-align: center;
        font-style: italic;
    }
}



/*
@media screen and (min-width: 950px) {
    
    body {
        background-image: url(/assets/img/pexels-daria-shevtsova-2029159.jpg);
    }    

    #left-content , #right-content{
        width: 40%;
        margin-right: 10%;
        margin-left: 10%;
        float: left;
    }

    #social-media-navbar {
        padding-right: 10%;

    }
    
        
}


/* mobile screens */ 

/*
@media screen and (min-width: 800px) {
    }


    }
}