 @import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Merriweather:wght@300&family=Roboto:wght@300&display=swap');

 * {
     margin: 0;
     padding: 0;
     border: 0;
 }
 
body {
    font-family: 'Merriweather', serif;
}


/* h1, h2, h3 */

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 2em;
}

h2, h3 {
    font-family: 'Merienda One', cursive;
    text-align: center;
    font-size: 1.5em;
}

h4 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-align: center;
}

#news-notices h1 {
    color: rgb(219,10,19);
    padding: 5%;
}

/* header */
header {
    background-color: #ffffff;
}

#logo {
    text-align: center;
}

#logo h2 { 
    color: rgb(219,10,19);
    text-align: left;
    padding-left: 15%;
}

#logo img {
    width: 100px;
}



 /* navigation bar */
#menu {
    list-style-type: none;
    text-align: center;
    padding: 2%;
    background-color: rgb(0, 0, 0);
}

#menu li {
    display: inline;
    padding: 2%;
}

#menu a {
    font-family: 'roboto', sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
}



/* layout elements */

img {
    width: 100%;
}

.seperator-line {
    width: 100%;
    height: 10px;
    background-color: rgb(219,10,19);
}

.seperator-line-thin {
    width: 100%;
    height: 2px;
    background-color: rgb(219,10,19);
    margin-bottom: 1%;
}

/* action elements */
#menu a:hover {
    text-decoration: underline;
    color: black;
}

/* Social media navbar */
#social-media {
    background-color: #000000;
    height: 48px;
    width: 320px;
    text-align: center;
}

.social-links i {
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 2%;
    font-size: 1.5rem;
    padding-top: 12px;
}

/* text styles */
.content-container {
    padding-top: 4%;
    padding-bottom: 4%;
}

.decorative-text {
    font-family: 'Merienda One', cursive;
    color: rgb(219,10,19);
    text-align: center;
    font-size: 3rem;
    height: 7.5rem;
    background-color: white;
}

.decorative-text-small {
    font-family: 'Merienda One', cursive;
    color: #000000;
    font-style: italic;
    text-align: right;
    padding-right: 20%;
    padding-top: 0;
    background-color: white;
}

.decorative-text-headline {
    font-family: 'Merienda One', cursive;
    color: rgb(219,10,19);
    text-align: left;
    font-size: 24px;
}

/* content styles*/
.margins {
    background-color: #ffffff;
    margin-left: 3%;
    margin-right: 3%;
}

#content-image {
    width: 100%;
}

#event-section {
    text-align: center;
    display: inline-block;
    width: 100%;
    background-color: rgb(219,10,19);
    color: #ffffff;
}

.event  {
    display: inline-block;
    padding: 2%;
}

.event h3 {
    padding-bottom: 2rem;
}


.event p {
    padding: 2%;
    font-family: "Roboto", sans-serif;
}

#event-center {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    display: inline-block;

}

/* footer */
footer {
    background-color: rgb(0, 0, 0);
    display: inline-block;
    text-align: center;
    left: 0;
    right: 0;
    position: static;
    bottom: 0;
    height: 40px;
    color: #ffff;
    width: 100%;
}

footer p {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    padding: 13px;
    color: #ffffff;
    font-weight: bold;
    font-style: normal;
}

/* news */ 

#news-notices {  
    background-color: white;
}

#news-notices h1 {
    text-align: center;
}


.news-box {
    border-color: rgb(68, 68, 68);
    border: 1px dotted;
    margin: 5%;
    text-align: center;
    width: 90%;
}

.news-tag {
    color: rgb(68, 68, 68);
    padding: 5%;
    font-size: 2rem;
}

.news-box h3 {
    color: rgb(232,48,42);
    font-size: 16px;
    text-align: center;
}

.news-box p {
    font-size: 12px;
    text-align: center;
    padding-bottom: 2%;
}

/* about */
.long-read {
padding: 5%;
text-align: left;
background-color: #ffffff;
}

.long-read h1 {
    text-align: left;
}

.text-break i {
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: black;
    text-align: center;
}

.long-read p {
    margin-top: 2rem;
    font-style: normal;
}

iframe {
    margin-top: 2rem;
    max-width: 224px;
}

/* form */ 
.form-background {
    background: url(/assets/img/bg-form.jpg);
    height: 800px;
}

.form-background h1 {
    color: white;
    padding-bottom: 10%;
}

.form-style  {
    background: rgb(0, 0, 0, 0.7);
    font-family: "Roboto", "Arial", sans-serif;
    width: 30%;
    height: fit-content;
    position: absolute;
    text-align: left;
    padding: 5%;
    margin-left: 5%;
    margin-top: 5%;
}

.form-style label {
    color: white; 
    letter-spacing: 2px;
}

input {
    border: 1px solid black;
    padding-left: 1%;
}

.button {
    width: 50px;
    text-align: center;
    background-color: greenyellow;
    color: black;
    margin-top: 2%;
}

.text-field {
    width: 100%;
    height: 25px;
}

.text-field-big {
    height: 25px;
    width: 100%;
}

/* responsivness */
@media screen and (min-width: 500px) {
    .news-box {
        border-color: rgb(68, 68, 68);
        border: 1px dotted;
        margin: 5%;
        text-align: center;
        width: 40%;
        float: left;
    }
    
}




@media screen and (min-width: 1200px) {

    body {
        background: url(/assets/img/bg-full_extent.jpg);
    }
    
    #news-notices { 
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .news-box {
    background: white;
    }

    #event-center {
        border-right: 1px solid white;
        border-left: 1px solid white;
        border-bottom: none;
        border-top: none;
    }


    .fit-left, .fit-right {
        width: 40%;
        padding-top: 2%;
    }

    .fit-left h2 {
        text-align: left;
    }

    .fit-right h2{
        text-align: right;
    }

    .fit-left {
        float: left;
        padding-left: 5%;  
    }

    .fit-right {
        float: right;
        text-align: right;
        padding-right: 5%;
    }

    footer {
        width: 80%;
        margin-left: 10%;
    }

    .decorative-text {
        padding-right: 5%;
        padding-left: 5%;
    }

    #form-background {
        margin-left: 10%;
        margin-right: 10%;
    }
    
}

@media  screen and (max-width: 600px) {
    .form-style {
        width: 80%;
    }


    
}

/*
@media screen and (max-width: 300px) {
    
    #decorative-text {
        display: none;
    }
}

/*
@media screen and (min-width: 950px) {
    
    body {
        background-image: url(/assets/img/pexels-daria-shevtsova-2029159.jpg);
    }    

    #left-content , #right-content{
        width: 40%;
        margin-right: 10%;
        margin-left: 10%;
        float: left;
    }

    #social-media-navbar {
        padding-right: 10%;
    }   
}


/* mobile screens */ 

/*
@media screen and (min-width: 800px) {

}